# Environmental Variables

#
# DBMATE
# Database migration tool configuration
export DATABASE_URL="postgres://postgres:postgres@localhost:5432/pentaledger?sslmode=disable"
export DBMATE_MIGRATIONS_DIR="db/migrations"
export DBMATE_SCHEMA_FILE="db/schema.sql"
export DBMATE_SEEDS_DIR="db/seeds"